.vs/
Setup32/Debug/
Setup64/Debug/
Setup32/Release/
Setup64/Release/
SetupAnyCPU/Debug/
SetupAnyCPU/Release/
WasatchNET/bin/
WasatchNET/obj/
WinFormDemo/bin/
WinFormDemo/obj/
UnitTests/bin/
UnitTests/obj/
packages/
lib/WasatchNET.dll
doxygen.out
doxygen.err
**/.DS_Store
*.pfx
